<div class="scroll-wrapper touch nav-main__dropdown hide">
  <div class="nav-main__dropdown__title">Популярные кодексы</div>
  <ul class="codex-popular clearfix">
    <li class="codex-popular__item">
      <a href="/lib/document/500073280"><img src="/assets/a7e259b974e9a747e5c0b579cd4c953f.png" alt="" class="codex-popular__cover"><span>Налоговый кодекс (Особенная часть)</span></a>
    </li>
  </ul>
  <div class="nav-main__dropdown__title">Полный перечень действующих кодексов</div>
  <div class="codex-list">
    <div>
      <div class="codex-list__letter">Б</div>
      <div class="codex-list__item">
        <a href="/lib/document/500072917" class="codex-list__link">Банковский кодекс Республики Беларусь</a><a class="codex-list__alphabet" href="/lib/document/500068698" title="Алфавитно-предметный указатель" data-tooltip="simple">А-Я</a>
      </div>
    </div>
    <div>
      <div class="codex-list__letter">В</div>
      <div class="codex-list__item">
        <a href="/lib/document/500191719" class="codex-list__link">Водный кодекс Республики Беларусь</a><a class="codex-list__alphabet" href="/lib/document/500191788" title="Алфавитно-предметный указатель" data-tooltip="simple">А-Я</a>
      </div>
    </div>
  </div>
</div>