<div class="alert-container hide">
  <div class="alert alert_error">
    <i class="alert__icon mdi mdi-alert-circle"></i>
    <div class="alert__text">Ошибка поиска. Повторите запрос ещё раз</div><!-- react-text: 458 --><!-- /react-text -->
  </div>
</div>