<div class="favorite-popup hide">
  <p class="favorite-popup__title">Добавить в избранное</p>
  <div class="favorite-popup__controls">
    <div class="nr-select">
      <div class="nr-select__container">
        <div class="nr-select__controls clearfix">
          <div class="nr-select__ctrl-clear ctrl hide">
            <div class="mdi mdi-close"></div>
          </div>
          <div class="nr-select__ctrl-open ctrl">
            <div class="mdi mdi-dots-vertical"></div>
          </div>
        </div>
        <div class="nr-select__input-wrapper">
          <input type="text" placeholder="Выберите каталог" value="Панель избранного" class="nr-select__input" readonly="">
        </div>
      </div>
      <div class="nr-select__dropdown hide">
        <div class="nr-select__option favorite-popup__folder-add"><span><i class="mdi mdi-folder-plus"></i><!-- react-text: 5189 --> Добавить новую папку<!-- /react-text --></span></div>
      </div>
    </div><button class="ctrl favorite-popup__submit">Сохранить</button><button class="ctrl favorite-popup__cancel">Отмена</button>
  </div>
</div>