<div class="nr-loader" ng-class=" loaderActive ? 'show nr-loader_list' : 'hide' ">
  <div class="nr-loader__container">
    <div class="nr-loader__pic"></div>
    <div class="nr-loader__text">@Resources.Resource.LoaderText</div>
  </div>
</div>