@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
  using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
  {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
      <li>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
      </li>
      <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
  }
}
else
{
  <div class="header__container-profile header__container-profile_login" id="user-menu" ng-controller="LoginPanelController">
    <div class="profile-widget" @*href="#"*@ tabindex="6" ng-class="{'active' : loginPanelActive}" ng-click="loginPanelActive = !loginPanelActive">
      <div class="profile-widget__container-login">
        <i class="profile-widget__login-icon glyph glyphicon-lock" ng-class="{'active' : loginPanelActive}"></i>
        <div class="profile-widget__login-text">Вход в систему</div>
      </div>
    </div>
    <div class="profile-widget__dropdown">
      <div class="auth auth_popup">
        <form class="auth__form">
          <div class="form-cell">
            <input type="text" id="email" name="email" placeholder="Электронная почта" class="auth__input-text">
            <ul class="f-error hide"></ul>
          </div>
          <div class="form-cell">
            <div class="ctrl ctrl__input-show-symbols">
              <span class="mdi mdi-eye-off"></span>
            </div>
            <input type="password" id="password" name="password" placeholder="Пароль" class="auth__input-text auth__input-pass">
            <ul class="f-error hide"></ul>
          </div>
          <div class="form-cell clearfix">
            <div class="pull-left">
              <input type="checkbox" id="auth" class="auth__remember-checkbox" value="on">
              <label for="auth" class="auth__remember-label">Запомнить меня</label>
            </div>
            <div class="pull-right">
              <a href="#" target="_blank" class="auth__recover-pass">Восстановить пароль</a>
            </div>
          </div>
          <div class="form-cell">
            <input type="submit" value="Войти" class="ctrl auth__submit">
          </div>
        </form>
        <div class="auth__registration">
          <a href="#" target="_blank" class="ctrl ctrl__registration"><i class="glyph glyphicon-plus-sign"></i> Регистрация</a>
        </div>
      </div>
    </div>
  </div>
}