<div class="scroll-wrapper touch nav-main__dropdown hide">
  <div class="reference">
    <ul class="reference__list">
      <div class="reference__head">
        <div class="pop-reference clearfix">
          <a class="pop-reference__item" href="/lib/document/3000002">
            <div class="pop-reference__pic pop-reference__pic_01"></div>
            <div class="pop-reference__container">
              <div class="pop-reference__icon nri nri-reference-currency"></div>
              <div class="pop-reference__title">Курсы иностранных валют</div>
            </div>
          </a><a class="pop-reference__item" href="/lib/document/28603/">
            <div class="pop-reference__pic pop-reference__pic_02"></div>
            <div class="pop-reference__container">
              <div class="pop-reference__icon nri nri-reference-zp"></div>
              <div class="pop-reference__title">Минимальная зарплата</div>
            </div>
          </a><a class="pop-reference__item" href="/lib/document/29221">
            <div class="pop-reference__pic pop-reference__pic_03"></div>
            <div class="pop-reference__container">
              <div class="pop-reference__icon nri nri-reference-posobia"></div>
              <div class="pop-reference__title">Ежемесячные пособия</div>
            </div>
          </a><a class="pop-reference__item" href="/lib/rubric/7778">
            <div class="pop-reference__pic pop-reference__pic_04"></div>
            <div class="pop-reference__container">
              <div class="pop-reference__icon nri nri-reference-trips"></div>
              <div class="pop-reference__title">Служебные командировки</div>
            </div>
          </a>
        </div>
      </div>
      <li class="reference__item" data-index="0">
        <a href="#" class="reference__title"><!-- react-text: 4205 -->Курсы валют<!-- /react-text --><span class="reference__caret mdi mdi-chevron-down"></span></a><ul class="reference__sublist hide"><li class="reference__subitem"><a href="/lib/document/3000002"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4211 -->Курсы доллара США, евро и российского рубля в 2016 году<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/document/3000003"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4215 -->Курсы иностранных валют в 2016 году<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/document/3000004"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4219 -->Курсы иностранных валют за прошедшие годы<!-- /react-text --></a></li></ul>
      </li>
      <li class="reference__item" data-index="1">
        <a href="#" class="reference__title"><!-- react-text: 4222 -->Календарь<!-- /react-text --><span class="reference__caret mdi mdi-chevron-down"></span></a><ul class="reference__sublist hide"><li class="reference__subitem"><a href="/lib/document/3000001"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4228 -->Календарь бухгалтера<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/document/3000007"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4232 -->Календарь кадровика<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/document/49853"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4236 -->Государственные праздники, праздничные дни и памятные даты<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/document/22475"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4240 -->Производственный календарь на 2012 год<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/document/27698"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4244 -->Производственный календарь на 2013 год<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/document/34879"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4248 -->Производственный календарь на 2014 год<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/document/42389"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4252 -->Производственный календарь на 2015 год<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/document/48543"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4256 -->Производственный календарь на 2016 год<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/document/54916"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4260 -->Производственный календарь на 2017 год<!-- /react-text --></a></li></ul>
      </li>
      <li class="reference__item" data-index="2">
        <a href="#" class="reference__title"><!-- react-text: 4263 -->Калькуляторы<!-- /react-text --><span class="reference__caret mdi mdi-chevron-down"></span></a><ul class="reference__sublist hide"><li class="reference__subitem"><a href="/lib/rubric/9039"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4269 -->Калькуляторы бухгалтера<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/rubric/9040"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4273 -->Калькуляторы кадровика<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/rubric/9041"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4277 -->Калькуляторы юриста<!-- /react-text --></a></li></ul>
      </li>
      <li class="reference__item" data-index="3">
        <a href="#" class="reference__title"><!-- react-text: 4280 -->Справочники по сделкам<!-- /react-text --><span class="reference__caret mdi mdi-chevron-down"></span></a><ul class="reference__sublist hide"><li class="reference__subitem"><a href="/lib/document/55578"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4286 -->Автомобильная перевозка грузов<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/document/56103"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4290 -->Безвозмездное пользование (ссуда)<!-- /react-text --></a></li></ul>
      </li>
      <li class="reference__item" data-index="4">
        <a href="#" class="reference__title"><!-- react-text: 4293 -->Ставки налогов и коды платежей в бюджет<!-- /react-text --><span class="reference__caret mdi mdi-chevron-down"></span></a><ul class="reference__sublist hide">
          <li class="reference__subitem"><a href="/lib/rubric/5176"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4299 -->Республиканские налоги<!-- /react-text --></a></li>
          <li class="reference__subitem">
            <a href="/lib/rubric/5177"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4303 -->Местные налоги<!-- /react-text --></a>
          </li>
          <li class="reference__subitem"><a href="/lib/rubric/5199"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4307 -->Особые режимы налогообложения<!-- /react-text --></a></li>
          <li class="reference__subitem"><a href="/lib/document/29301"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4311 -->Налоговые вычеты для целей исчисления подоходного налога<!-- /react-text --></a></li>
          <li class="reference__subitem"><a href="/lib/document/43126"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4315 -->Коды платежей в бюджет<!-- /react-text --></a></li>
          <li class="reference__subitem"><a href="/lib/rubric/22760"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4319 -->Реквизиты счетов для зачисления платежей в республиканский бюджет<!-- /react-text --></a></li>
          <li class="reference__subitem"><a href="/lib/rubric/22761"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4323 -->Реквизиты счетов для зачисления платежей в местные бюджеты<!-- /react-text --></a></li>
          <li class="reference__subitem"><a href="/lib/document/42158"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4327 -->Размеры платы за организацию сбора, обезвреживания и (или) использования отходов товаров и отходов упаковки<!-- /react-text --></a></li>
          <li class="reference__subitem"><a href="/lib/document/43890"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4331 -->Пени, взыскаемые за несвоевременную уплату налогов и сборов в бюджет<!-- /react-text --></a></li>
        </ul>
      </li>
      <li class="reference__item" data-index="5"><a href="#" class="reference__title"><!-- react-text: 4334 -->Расчетные индикаторы<!-- /react-text --><span class="reference__caret mdi mdi-chevron-down"></span></a><ul class="reference__sublist hide"><li class="reference__subitem"><a href="/lib/document/22756"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4340 -->Базовая арендная величина<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/document/22159"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4344 -->Базовая величина<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/document/28920"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4348 -->Бюджет прожиточного минимума<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/document/29221"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4352 -->Ежемесячные государственные пособия<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/document/28603"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4356 -->Минимальная заработная плата (МЗП)<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/document/30140"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4360 -->Ставка рефинансирования (учетная ставка)<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/document/29303"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4364 -->Минимальный потребительский бюджет<!-- /react-text --></a></li></ul></li>
      <li class="reference__item" data-index="6">
        <a href="#" class="reference__title"><!-- react-text: 4367 -->Оплата труда и тарификация<!-- /react-text --><span class="reference__caret mdi mdi-chevron-down"></span></a><ul class="reference__sublist hide">
          <li class="reference__subitem"><a href="/lib/rubric/7754"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4373 -->Тарифная ставка первого разряда<!-- /react-text --></a></li>
          <li class="reference__subitem"><a href="/lib/document/56259"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4377 -->Ежемесячные дифференцированные доплаты работникам бюджетных организаций<!-- /react-text --></a></li>
          <li class="reference__subitem"><a href="/lib/document/19614"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4381 -->Единая тарифная сетка (ЕТС) в бюджетных организациях<!-- /react-text --></a></li>
          <li class="reference__subitem"><a href="/lib/rubric/7758"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4385 -->Номинальная начисленная среднемесячная заработная плата<!-- /react-text --></a></li>
          <li class="reference__subitem"><a href="/lib/document/27630"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4389 -->Номинальная начисленная среднемесячная заработная плата по годам в сводной таблице<!-- /react-text --></a></li>
          <li class="reference__subitem"><a href="/lib/rubric/7760"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4393 -->Размеры удержаний с нанимателей средств для обеспечения своевременной выплаты заработной платы<!-- /react-text --></a></li>
          <li class="reference__subitem"><a href="/lib/document/19649"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4397 -->Кратные размеры тарифной ставки первого разряда<!-- /react-text --></a></li>
          <li class="reference__subitem"><a href="/lib/document/29037"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4401 -->Корректирующие коэффициенты к тарифным ставкам (окладам) работников бюджетных организаций<!-- /react-text --></a></li>
          <li class="reference__subitem"><a href="/lib/document/19620"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4405 -->Единая тарифная сетка (ЕТС) в коммерческих организациях<!-- /react-text --></a></li>
          <li class="reference__subitem"><a href="/lib/document/19621"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4409 -->Тарифные разряды и коэффициенты руководителей организаций<!-- /react-text --></a></li>
        </ul>
      </li>
      <li class="reference__item" data-index="7"><a href="#" class="reference__title"><!-- react-text: 4412 -->Коэффициенты<!-- /react-text --><span class="reference__caret mdi mdi-chevron-down"></span></a><ul class="reference__sublist hide"><li class="reference__subitem"><a href="/lib/rubric/12618"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4418 -->Коэффициенты изменения стоимости видов (групп) основных средств<!-- /react-text --></a></li></ul></li>
      <li class="reference__item" data-index="8"><a href="#" class="reference__title"><!-- react-text: 4421 -->Индексы<!-- /react-text --><span class="reference__caret mdi mdi-chevron-down"></span></a><ul class="reference__sublist hide"><li class="reference__subitem"><a href="/lib/rubric/7772"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4427 -->Индексы цен в строительстве<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/rubric/7774"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4431 -->Индекс потребительских цен<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/rubric/7775"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4435 -->Порядок индексации доходов населения<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/rubric/9212"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4439 -->Индексы цен производителей на промышленную продукцию<!-- /react-text --></a></li></ul></li>
      <li class="reference__item" data-index="9"><a href="#" class="reference__title"><!-- react-text: 4442 -->Нормы<!-- /react-text --><span class="reference__caret mdi mdi-chevron-down"></span></a><ul class="reference__sublist hide"><li class="reference__subitem"><a href="/lib/rubric/7777"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4448 -->Линейные нормы расхода топлива<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/rubric/7778"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4452 -->Нормы оплаты командировочных расходов<!-- /react-text --></a></li></ul></li>
      <li class="reference__item" data-index="10"><a href="#" class="reference__title"><!-- react-text: 4455 -->Цены и тарифы<!-- /react-text --><span class="reference__caret mdi mdi-chevron-down"></span></a><ul class="reference__sublist hide"><li class="reference__subitem"><a href="/lib/rubric/7783"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4461 -->Тарифы<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/rubric/7784"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4465 -->Цены на драгоценные металлы<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/rubric/8099"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4469 -->Цены на сигареты<!-- /react-text --></a></li></ul></li>
      <li class="reference__item" data-index="11"><a href="#" class="reference__title"><!-- react-text: 4472 -->План счетов<!-- /react-text --><span class="reference__caret mdi mdi-chevron-down"></span></a><ul class="reference__sublist hide"><li class="reference__subitem"><a href="/lib/rubric/7790"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4478 -->Типовой план счетов бухгалтерского учета<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/document/25666"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4482 -->План счетов бухгалтерского учета бюджетных организаций<!-- /react-text --></a></li></ul></li>
      <li class="reference__item" data-index="12">
        <a href="#" class="reference__title"><!-- react-text: 4485 -->Перечни<!-- /react-text --><span class="reference__caret mdi mdi-chevron-down"></span></a>
        <ul class="reference__sublist hide">
          <li class="reference__subitem">
            <a href="/lib/document/19664"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4491 -->Перечень выпусков ЕТКС<!-- /react-text --></a>
          </li>
          <li class="reference__subitem"><a href="/lib/rubric/7805"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4495 -->Перечень выпусков ЕКСД<!-- /react-text --></a></li>
        </ul>
      </li>
      <li class="reference__item" data-index="13"><a href="#" class="reference__title"><!-- react-text: 4578 -->Адресная информация<!-- /react-text --><span class="reference__caret mdi mdi-chevron-down"></span></a><ul class="reference__sublist hide"><li class="reference__subitem"><a href="/lib/rubric/7799"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4584 -->Республиканские органы<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/rubric/7800"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4588 -->Дипломатические органы<!-- /react-text --></a></li><li class="reference__subitem"><a href="/lib/rubric/7801"><span class="reference__icon mdi mdi-menu"></span><!-- react-text: 4592 -->Иные органы<!-- /react-text --></a></li></ul></li>
    </ul>
  </div>
</div>