<div class="nav-main__dropdown scroll-wrapper touch hide">
  <div class="breadcrumbs rubric__breadcrumbs">
    <span class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">Рубрики</a>
    </span>
    <span class="breadcrumbs__item">
      <span class="breadcrumbs__separator">→</span>
      <a class="breadcrumbs__link" href="#">Международные дог...</a>
    </span>
    <span class="breadcrumbs__item">
      <span class="breadcrumbs__separator">→</span><span>01 Общие вопросы ...</span>
    </span>
  </div>
  <ul class="rubric-list" style="margin-top: 54px;">
    <li class="rubric-list__item">
      <a href="#">
        <span>01.04 Межгосударственные образования, участницей которых является Республика Беларусь (создание и организация деятельности)</span>
        <span class="rubric-list__count">3510</span>
        <span class="rubric-list__caret mdi mdi-chevron-right"></span>
      </a>
    </li>
    <li class="rubric-list__subitem">
      <a href="/lib/rubric/13236"><span class="rubric-list__icon mdi mdi-menu"></span><span>01.01 Договоры о дружбе и сотрудничестве, другие общеполитические вопросы</span><span class="rubric-list__count">201</span></a>
    </li>
  </ul>
</div>