<div class="nav-main__dropdown scroll-wrapper touch" ng-class="{'hide' : !rubricsActive}" ng-controller="NavigatorController">
  <div class="list-find__search-block">
    <i class="list-find__magnify mdi mdi-magnify"></i>
    <i class="mdi mdi-close list-find__query-clear ctrl"></i>
    <input type="text" placeholder="Поиск по категориям" class="list-find__query">
  </div>
  <div class="breadcrumbs rubric__breadcrumbs">
    <span class="breadcrumbs__item" ng-repeat="bread in breadCrumbs">
      <span ng-if="$index != 0" class="breadcrumbs__separator">→</span>
      <a ng-if="bread.HasChilds" class="breadcrumbs__link" href="#" ng-click="changedCategory(bread)">{{bread.Name | limitTo:letterLimit}}...</a>
      <span ng-if="!bread.HasChilds">{{bread.Name | limitTo:letterLimit}}...</span>
    </span>
  </div>
  <ul class="rubric-list">
    <li ng-repeat="cat in categories" ng-class="cat.HasChilds ? 'rubric-list__item' : 'rubric-list__subitem'">
      <a href="#" ng-if="cat.HasChilds" ng-click="getByParentId(cat)">
        <span>{{cat.Name}}</span>
        <span class="rubric-list__count">{{cat.ChildCount}}</span>
        <span class="rubric-list__caret glyph glyphicon-chevron-right"></span>
      </a>
      <a href="#" ng-if="!cat.HasChilds && !cat.IsPage" ng-click="goToCategory(cat)">
        <span class="rubric-list__icon glyph glyphicon-folder-open"></span><span>{{cat.Name}}</span>
        <span class="rubric-list__count">{{cat.ChildCount}}</span>
      </a>
      <a ng-if="!cat.HasChilds && cat.IsPage" href="/Content/Index/{{cat.Page.SeoUrl}}">
        <span class="rubric-list__icon glyph glyphicon-open-file"></span><span>{{cat.Page.Title}}</span>
      </a>
    </li>
  </ul>
</div>