@model System.Web.Mvc.HandleErrorInfo

@{
  ViewBag.Title = "Error";
}

<div class="content-wrapper js-content-wrapper content-wrapper-advance">
  <h2>Ошибка!</h2>
  <p>Что-то пошло не так.</p>
</div>