@model UI.Models.PageViewModel

@{
  ViewBag.Title = Model.Title;
}

<div class="content-wrapper js-content-wrapper">
  @*@Html.Partial("_FilterPanel")*@
  <div class="content-container" id="mainBody">
    <div class="content">
      <div class="content__static scroll-wrapper">
        <div id="body">
          <div id="content">
            <div id="canvasPanel">
              <div id="gutterPanel">
                <div id="bodyPanel">
                  @if (User.IsInRole("Admin"))
                  {
                    <a class="close" style="margin:15px" data-dismiss="alert" aria-label="Close"
                    id="removeButton-@Model.Id" href="@Url.RouteUrl(new { controller = "Content", action = "RemovePage", id = Model.Id })">
                    <span aria-hidden="true">&times;</span>
                    </a>
                  }
                  <div id="bodyView">
                    @Html.Raw(Model.Page)
                  </div>
                </div>
                @if (User.IsInRole("Admin"))
                {
                  <a type="button" class="ui-button ui-corner-all ui-widget" style="margin:10px"
                     href="@Url.RouteUrl(new { action="AddPage", controller="Content", id = Model.Id})" id="updateButton-@Model.Id">
                    <span aria-hidden="true">Изменить</span>
                  </a>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>