.glyph {
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.nav-portals__toggler .glyph {
  font-size: 2.6em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -.5em;
  margin-top: -.5em;
}

.tabpanel-right__toggler__icon__close {
  -ms-transform: rotate(0) !important;
  -webkit-transform: rotate(0) !important;
  transform: rotate(0) !important;
}

.logo-text {
  font-size: 0.7em;
  text-align: center;
}

.logo_header:hover {
  text-decoration: none;
}

@media screen and (max-width: 71.66666667rem), screen and (max-width: 44.46666667rem) {
  .logo-text {
    display: none;
  }
}

.form__label {
  font-size: 1rem;
  color: #5b5b5b;
  line-height: 1.2;
  vertical-align: middle;
  display: inline-block;
  text-align: right;
}

.form-horizontal .form-group {
  margin-left: initial;
}

.form-header {
  margin-left: 5%;
}

@media (min-width: 768px) {
  .form-horizontal .form__label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }
}

.rubric-list {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

.rubric__breadcrumbs {
  top: 0;
  right: 0;
  left: 0;
}

.btn {
  font-size: 0.8125rem;
  font-family: "PT Sans";
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background-color: #4f8fc5;
  background-image: -moz-linear-gradient(top, #5597cf, #4583b7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5597cf), to(#4583b7));
  background-image: -webkit-linear-gradient(top, #5597cf, #4583b7);
  background-image: -o-linear-gradient(top, #5597cf, #4583b7);
  background-image: linear-gradient(to bottom, #5597cf, #4583b7);
  -ms-background-repeat: repeat-x;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5597cf', endColorstr='#ff4583b7', GradientType=0);
  padding: 6px 15px 7px;
  border: none;
  border-bottom: 1px solid #1e4f79;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin-right: 20px;
  display: inline-block;
  outline: none !important;
  cursor: pointer;
}

#gutterPanel {
  padding: 30px 60px;
  background-color: #ECECEC;
}

#bodyPanel {
  background-color: #FFFFFF;
  margin: 0 auto;
  max-width: 68.125rem;
  padding: 0;
  -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 9px rgba(0,0,0,0.25);
  box-shadow: 0 0 9px rgba(0,0,0,0.25);
}

#bodyView {
  max-width: 58.125rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  padding-left: 7%;
  padding-right: 7%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "PT Sans";
}

.header {
  font-size: 1rem;
  color: #fff;
  background-color: #006699;
  height: 4.53333333rem;
  padding: 0 0 0 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4000;
}

.promo-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #006699;
  z-index: 2;
  transition: all .15s ease-in-out;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  padding: 0 320px;
}

.promo-nav__item.active {
  border-bottom-color: #006699;
}

.search__toggler {
  font-size: 1em;
  color: #006699;
  background-color: #fff;
  height: 100%;
  padding: 0 .53333333rem;
  margin: 0;
  border-left: 1px solid #e0e0e0;
  float: right;
  white-space: nowrap;
  position: relative;
  -webkit-transition: background-color .15s ease-out;
  -moz-transition: background-color .15s ease-out;
  -o-transition: background-color .15s ease-out;
  transition: background-color .15s ease-out;
  outline: 0;
}

  .search__toggler.active,
  .search__toggler:hover {
    color: #fff;
    background-color: #006699;
  }

.profile-widget:hover .profile-widget__container,
.profile-widget:hover .profile-widget__container-login {
  background-color: #00334d;
}


.profile-widget:hover .profile-widget__container,
.profile-widget:hover .profile-widget__container-login {
  background-color: #00334d;
}

.radar__control-panel {
  font-size: 1rem;
  font-weight: 400;
  line-height: 3.73329rem;
  color: #fff;
  background-color: #00334d;
  padding: 0 0 0 1.66666667rem;
  z-index: 2;
  display: none;
}

.favorites__select-panel {
  color: #fff;
  position: absolute;
  background-color: #00334d;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
}