@{
  ViewBag.Title = Resources.Resource.ApplicationTitle;
}

<div class="content-wrapper js-content-wrapper  content-wrapper_panel-top" ng-controller="PagesController">
  <div>
    <div class="panel-top show" id="panel-top">
      <div class="panel-top__text">
        Результаты поиска: {{pagesCountText()}}
      </div>
    </div>
  </div>
  @*@Html.Partial("_FilterPanel")*@
  <div class="content-container" id="mainBody">
    <div class="content">
      <div class="content__static scroll-wrapper">
        <ul class="document-list">
          <li class="document-list__item document-list__item_3" ng-repeat="page in pages">
            <a class="document-list__link" href="~/Content/Index/{{page.SeoUrl}}">
              <i class="document-list__icon icon-doc icon-doc_3"></i><i class="document-list__status document-list__status_actual"></i>
              <p class="document-list__title">{{page.Title}}</p>
              <p class="document-list__description" ng-bind-html="page.PageDescription"></p>
              <p class="document-list__redaction"><span><span>{{page.Date}}</span></span></p>
              <button title="Добавить в избранное" data-tooltip="simple" class="ctrl document-list__favorite" ng-click="toggleFavourite($index, page)">
                <span class="glyph glyphicon-star-empty" id="favouriteId-{{page.Id}}"></span>
              </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>