@using UI.Models
@model LoginViewModel
@{
  ViewBag.Title = "Log in";
}

<div class="content-wrapper js-content-wrapper content-wrapper_panel-top content-wrapper_rp-min">
  <div class="content-container">
    <div class="content">
      <div>

      </div>
    </div>
  </div>
</div>